:root {
    /* * FONDOS */
    --wallpaper: url("../resources/images/wallpaper.jpg");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;
    position: relative;
}

body {
    display: flex;
    flex-direction: column;

    align-items: center;
}