.background, .panel {
    box-sizing: border-box;
}

.background {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 55%;
    height: 100%;
}

.user-panel {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 22.5%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.user-panel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/resources/images/panel/panel-metal.png);
    background-repeat: repeat;
    background-size: 3% 3%;
    mix-blend-mode: overlay;
    opacity: 0.6;
    z-index: 1;
}

#left-panel {
    background-color: crimson;
    border-right: ridge 15px rgb(255, 23, 69);
   
    border-left: none;
    box-shadow: 3px 0px 20px red;
    position: relative;
    z-index: 1;
}

#right-panel {
    background-color: rgb(27, 27, 208);
    border-right: ridge 15px rgb(34, 34, 255);
    border-left: none;
    transform: rotateY(180deg);
    box-shadow: -3px 0px 20px blue;
    position: relative;
    z-index: 1;
}

#central-panel {
    background-color:khaki;
    border: none;
    height: 100%;
    width: 55%;
}

#central-panel h1 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
    font-size: 3vw;

    margin: 0;
}

#central-panel::before {
    background-size: auto;
}